# Folders
build/
dist/
node_modules/
removed/
temp/

# Files
*.log
*.exe
*.dll
*.so
*.dylib
.DS_Store

# IDE
.vscode/

# vite
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw